.question-container {
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 25px !important;
  background-color: $blanco;
  text-align: center;
  border-radius: 15px;
}

.question-correct {
  background-color: $verde !important;
  color: $blanco !important;
  border: 2px solid $verde !important;
}

.question-incorrect {
  background-color: $rojo !important;
  color: $blanco !important;
  border: 2px solid $rojo !important;
}

.question-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  transition-duration: 0.3s;
  color: $morado;
  border: 2px solid $morado;
  display: block;
}

.confirmation-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 10px !important;
  transition-duration: 0.3s !important;
  min-width: 150px !important;
}

.confirmation-class {
  border-radius: 20px !important;
}

.question-button:not(.disabled):hover {
  background-color: $amarillo;
  transition-duration: 0.3s;
  color: $blanco;
  border: 2px solid $amarillo;
}

.profile-container {
  margin: 0px 30px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 25px !important;
  background-color: $blanco;
  text-align: center;
  border-radius: 15px;
}
