//Colors
$blanco: white;
$rojo: red;
$verde: #288128;
$verde-claro:#2ab82a;
$morado: #8026ff;
$morado-claro: #ae81ee;
$amarillo: #ffae00;
$amarillo-claro:#e7c502;

//Fonts
$font-primary: "Comic Sans MS", monospace;
